.card {
  background-color: rgb(187, 187, 187);
  border-radius: 5px;
  padding: 5px;
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  display: grid;
  grid-template-rows: 85% 15%;
}

.card img {
  object-fit: contain;
  width: 95%;
  height: 95%;
  margin: auto auto;
}

.card p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  align-content: center;
  overflow: hidden;
}