main {
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(calc(60vw / 225px), 225px);
  justify-content: space-evenly; 
  gap: 1rem;
}